# Superstore Sales Workflow Tutorial

This notebook walks through cleaning the Superstore dataset, designing a relational structure, creating an SQLite database, and running example SQL queries and visualizations.

In [ ]:
import pandas as pd
import sqlite3
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.ticker as mticker

## 1️) Load and Inspect the Dataset

In [ ]:
# reading error codes + research is how you can learn if there is different encoding, as seen below
df = pd.read_csv('../data/Superstore.csv', encoding='ISO-8859-1')
df.head()

### Double check some datatypes, and for nulls and duplicates:

In [ ]:
df.info()

In [ ]:
df.duplicated().sum()

In [ ]:
df.isnull().sum()

This data is incredibly clean - we can see there are no null values and no duplicates. However, there are some dates that could be saved in a better format.

## 2) Data Cleaning

In [ ]:
df['Order Date'] = pd.to_datetime(df['Order Date'], dayfirst=True)
df['Ship Date'] = pd.to_datetime(df['Ship Date'], dayfirst=True)

In [ ]:
df.dtypes

In [ ]:
df.Segment.unique()

In [ ]:
df.rename(columns={"Segment":"customer_category"}, inplace=True)
df.head()

With real data, it is very likely more cleaning and wrangling would be required.

## 3) Build Relational Tables

In [ ]:
conn = sqlite3.connect('data/superstore.db')

customers_df = df[['Customer ID','Customer Name','customer_category','City','State','Region']].drop_duplicates().rename(columns={
    'Customer ID':'customer_id',
    'Customer Name':'customer_name',
    'City':'city',
    'State':'state',
    'Region':'region'
})

products_df = df[['Product ID','Category','Sub-Category','Product Name']].drop_duplicates().rename(columns={
    'Product ID':'product_id',
    'Category':'category',
    'Sub-Category':'subcategory',
    'Product Name':'product_name'
})

orders_df = df[['Order ID','Order Date','Ship Date','Ship Mode','Customer ID']].drop_duplicates().rename(columns={
    'Order ID':'order_id',
    'Order Date':'order_date',
    'Ship Date':'ship_date',
    'Ship Mode':'ship_mode',
    'Customer ID':'customer_id'
})

order_details_df = df[['Order ID','Product ID','Sales','Quantity','Discount','Profit']].rename(columns={
    'Order ID':'order_id',
    'Product ID':'product_id'
})

customers_df.to_sql('customers', conn, index=False, if_exists='replace')
products_df.to_sql('products', conn, index=False, if_exists='replace')
orders_df.to_sql('orders', conn, index=False, if_exists='replace')
order_details_df.to_sql('order_details', conn, index=False, if_exists='replace')
conn.commit()

## 4) Make Some Queries!

### Which customer segments bring in the most revenue and profit?

In [ ]:
query1 = """ SELECT 
    c.customer_category,
    ROUND(SUM(od.sales), 2) AS total_sales,
    ROUND(SUM(od.profit), 2) AS total_profit
FROM order_details od
JOIN orders o ON od.order_id = o.order_id
JOIN customers c ON o.customer_id = c.customer_id
GROUP BY c.customer_category
ORDER BY total_sales DESC;
"""
result1 = pd.read_sql(query1, conn)
result1

### What are the top 10 customers by total sales?

In [ ]:
query2 = """ Your code here! """
result2 = pd.read_sql(query2, conn)
result2

### Which product categories and subcategories are the most profitable overall?

In [ ]:
query3 = """ Your code here! """
result3 = pd.read_sql(query3, conn)
result3

### What is the average discount given per category?

In [ ]:
query4 = """ Your code here! """
result4 = pd.read_sql(query4, conn)
result4

### Which states or regions contribute the most to total sales?

In [ ]:
query5 = """ Your code here! """
result5 = pd.read_sql(query5, conn)
result5

### How many orders were shipped late (where Ship Date > Order Date + 3 days)?

In [ ]:
query6 = """ Your code here! """
result6 = pd.read_sql(query6, conn)
result6

### Which month or year had the highest total sales?

In [ ]:
query7 = """ Your code here! """
result7 = pd.read_sql(query7, conn)
result7

### What are the most frequently ordered products?

In [ ]:
query8 = """ Your code here! """
result8 = pd.read_sql(query8, conn)
result8

### Which customers placed more than 5 orders total?

In [ ]:
query9 = """ Your code here! """
result9 = pd.read_sql(query9, conn)
result9

### What’s the profit margin (profit ÷ sales) by category or segment?

In [ ]:
query10 = """ Your code here! """
result10 = pd.read_sql(query10, conn)
result10

### 5) Visualize it!

From your ten results, select at least 4 to utilize in a meaningful visualization.

In [ ]:
# example using result1
plt.figure(figsize=(10,6))
colors = ["#a7adaa", "#a7adaa", "#f74141" ]
sns.barplot(result1, x='customer_category', y='total_sales', palette=colors, hue='customer_category', legend=False)
plt.title('Small Offices, Smaller Sales: The Home Office Gap',fontsize=18)
plt.xlabel(None)
plt.ylabel('Total Sales ($USD)')

#for those wondering how to get rid of scientific notation! Set style to plain:
plt.ticklabel_format(style='plain', axis='y')

#mticker is a great library for helping tick mark formatting, such as adding commas and dollar signs in this case
ax = plt.gca()
ax.yaxis.set_major_formatter(mticker.FuncFormatter(lambda x, _: f'${x:,.0f}'))

#using the seaborn library, despining is way easier!
sns.despine()
plt.show()

In [ ]:
# visualization one code here

In [ ]:
# visualization two code here

In [ ]:
# visualization three code here

In [ ]:
# visualization four code here